:root{
  --card-width : 33%
}

.projects-container{
  /* height: 100%; */
  width: 95vw;
  max-width: 1060px;
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project-card {
  flex: 1 1 auto;
  width: 30%;
  height: 175px;
  min-width: 50px;
  min-height: 200px;
  margin: 10px;


  border-radius: 15px;
  /* background-color: rgb(116, 116, 116); */
  /* border: 2px solid black; */
  /* box-shadow: 0 5px 5px 0 rgb(233 240 243 / 50%), 0 0 0 1px #e6ecf8; */
  box-shadow: 0 5px 5px 0 rgba(205, 212, 214, 0.5), 0 0 0 1px #ebebeb;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1020px){
  .project-card{
    min-width: 45%;
  }
}

@media only screen and (max-width: 720px){
  .project-card{
    min-width: 95%;
  }
}


/* SVG */
.proj-div{
  padding: 1em 0;

  width: 20%;
}

.aroma,
.zetty-jones{
  fill: black;
  stroke: none;
}