/* border for development */
nav, nav > * {
  border: 2px solid black !important
}

/* DARK MODE*/
.darkMode{
  background-color: rgb(34, 19, 92);
  color: rgb(192, 192, 192);
}


/*  browser */
.navbar-burger {
  display: none;
}

.navbar-browser {
  display: flex;
  justify-content: end;
}
.navbar-browser > li {
  text-align: end;
}


/* mobile class */
.mobile.navbar {
  display: flex;
  flex-direction: column;
}
.mobile.navbar-burger{
  display: flex;
  justify-content: end;
  order : -1;
}
.mobile.navbar-browser{
  position: fixed;
  right: 0;
  background-color: rgb(228, 228, 228);
  display: none;
}

/* Sidebar Menu Animation */
.animate-right-open{
  position: relative;
  animation: animaterightopen .4s;
}

@keyframes animaterightopen {
  from { 
    right: -100%;
    opacity: 0;
  }
  to {
    right: 0;
    opacity: 1;
  }
}

.animate-right-close{
  position: relative;
  animation: animaterightclose .4s forwards;
}

@keyframes animaterightclose {
  from { 
    right: 0;
    opacity: 1;
  }
  to {
    right: -100%;
    opacity: 0;
  }
}