/* NAVBAR */
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  width: 100%;
  position: fixed;
  z-index: 8;
  top: 0;
}
.darkmode-switch {
  margin-left: 18%;
  order: -2;
}
.navbar-menu {
  display: flex;
  flex-direction: row;
  margin-right: 18%;
}



.navbar-burger {
  display: none;
} 


/* LAYOUT: Mobile */
.mobile.navbar-burger {
  margin-right: 5%;
  display: block;
  order : -1;
}

.mobile.navbar-menu {
  position: fixed;
  margin-right: 0;
  right: 0;
  display: none;
}
.mobile.navbar-menu > li {
  margin-right: 5% ;
}


/* BANNER */
.banner{
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  position: relative;
  z-index: 1;
}
.banner-container {
  height: 550px;
  width: 800px;
  overflow: hidden;
}

.banner-intro{
  text-align: center;
  padding: 5em 0 3em 0 ;
  
  position: relative;
  z-index: 2;
}


@media only screen and (max-width: 720px){
  .banner-container{
    height: 400px;
  }
  .banner-intro{
    padding: 5em 0 1em 0 !important;
  }

  .banner p{
    padding: 0 3em;
  }
  
}

@media only screen and (max-width: 560px){
  .banner-container{
    height: 350px;
  }

}

