:root{
  --card-width : 33%;
  --secondary-color: #000;
  --dark-secondary:  rgb(192, 192, 192);
}

.projects-container{
  /* height: 100%; */
  width: 95vw;
  max-width: 1060px;
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 5em;
}

.project-card {
  position: relative;
  flex: 1 1 auto;
  width: 30%;
  height: 175px;
  min-width: 50px;
  min-height: 200px;
  margin: 10px;
  overflow: hidden;
  border-radius: 15px;
  /* box-shadow: 0 5px 5px 0 rgb(233 240 243 / 50%), 0 0 0 1px #e6ecf8; */
  box-shadow: 0 5px 5px 0 rgba(205, 212, 214, 0.5), 0 0 0 1px #ebebeb;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1020px){
  .project-card{
    min-width: 45%;
    max-width: 45%;
    
  }
}

@media only screen and (max-width: 720px){
  .project-card{
    min-width: 95%;
  }
}


/* SVG */
.proj-div{
  padding: 1em 0;
  width: 20%;

}

.aroma,
.zetty-jones, .sr{
  fill: black;
  stroke: none;
}

.sr.prjDarkMode,
.aroma.prjDarkMode,
.zetty-jones.prjDarkMode{
  fill: var(--dark-secondary);
  stroke: var(--dark-secondary);
}

.project-gif{
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  opacity: 0;
  z-index: -1;
  transition: opacity 1s ease-in-out, z-index .1s linear;
}

.project-card:hover .project-gif{
  z-index: 1;
  opacity: 1;
 
  /* display: block; */
}

/* special case; icon too small for default */
#sr{
  position: relative;
  left: -50%;
  width: 200%;
}