@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,400italic");
@font-face {
  font-family: eurostile;
  src: url("../assets/eurostile.TTF");
}


:root {
  --primary-color: #FFF;
  --secondary-color: #000;
  /* --dark-primary:  rgb(57, 31, 161); */
  --dark-primary:  rgb(31, 31, 31);
  --dark-secondary:  rgb(192, 192, 192);
  --highlight: #5b7adf;
  --style1-color: rgb(228, 228, 228);
  --style1-bg: rgb(48, 48, 48);
}

body {
  font-family: eurostile, "Source Sans Pro", Helvetica, sans-serif;
}

nav {
  border-top: 1px solid;
  border-bottom: 1px solid;
  background: var(--primary-color);
}

.navbar-menu li {
  padding-left: 10px;
} 
nav.darkMode {
  background: var(--dark-primary);
}


.navbar-menu .fa-linkedin{
  color: #0077B5;
  /* font-size: 1.1em; */
}


svg{
  fill: var(--primary-color);
  stroke: var(--secondary-color);
}

.darkMode{
  background-color: var(--dark-primary);
  color: var(--dark-secondary);
  border-color: var(--dark-secondary);
}
.svgDarkMode{
  fill: var(--dark-primary);
  stroke: var(--dark-secondary) !important;
}
.mobile.navbar-menu {
  background-color: var(--style1-color);
  text-align: center;


}
.mobile.navbar-menu.darkMode{
  background-color: var(--style1-bg);
}

.mobile.navbar-menu li {
  font-size: 1.2em;
  padding: 10px 0;
} 

.mobile.navbar-menu li:hover {
  background-color: #a3a3a3;
  color: var(--dark-primary)
} 


.style1.darkMode{
  background-color: var(--style1-bg)!important;
}


/* BUTTONS */
button{
  background-color: var(--primary-color);
  border: 1px solid ;
  height: 30px;
  width: 90px;
  border-radius: 3px;
}
button.darkMode{
  background-color: var(--dark-primary);
  color: var(--dark-secondary);
}
button:hover{
  background-color:var(--highlight);
  color: white;
}


/* SWITCHES */
.switch {
  --switch-height : 1em;
  --switch-width : 1.75em;
  position: relative;
  display: inline-block;
  height: var(--switch-height);
  width: var(--switch-width);
}
.switch input {
  display: none;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--dark-secondary);
  transition: .4s;
  border-radius: 34px;
}
.slider:before {
  position: absolute;
  content: "";
  height: calc(var(--switch-height) - 4px);
  width: calc(var(--switch-width) - 50%);
  left: 3px;
  bottom: 2px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}
input:checked + .slider {
  background-color: var(--highlight);
}
input:focus + .slider {
  box-shadow: 0 0 1px var(--highlight);
}
input:checked + .slider:before {
  transform: translateX(8px);
}
.gsap-buttons{
  display: flex;
  justify-content: center;
  align-self: flex-end;
}
#levitate, 
#restore, 
#try{
  margin-left: 5px;
  z-index: 1;
}
#levitate, 
#restore{
  display: none;
}

.style1{
  background-color: var(--style1-color);
  padding: 5em 0 0 0;
  display: flex;
  justify-content: center;
}

.style2{
  /* height: 45vh; */
  width: 100vw;
  max-width: 100%;
  padding: 3.5em 0;

  justify-content: center;
}

.three-container{
  text-align: center;
  /* align-items: center; */
}



h1{
  font-size: 2.5em;
}
h2 {
  font-size: 1.75em;
}
h2::after{
  background: rgba(144, 144, 144, 0.5);
  content: '';
  display: block;
  height: 1px;
  margin-top: .5em ;
  width: 7em;
}
.three-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#four{
  padding-bottom: 3em;
  display: flex;
  justify-content: center ;
}
.four-container{
  display: flex;
  justify-content: center;
  /* align-items: center; */
  width: 80%;
}

.four-container > .four-text{
  width: 60%;
  max-width: 560px;
}
.four-container > .four-pic {
  width:30%;
  max-width: 300px;
}


.four-container img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  pointer-events: none;

}

p {
  padding: 5px 0;
  line-height: 1.5em;
}

a {
  color: inherit;
  text-decoration: none;
}

#profile-pic{
  border-radius: 50%;
  width: 80%;
  max-width: 200px;

}

footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 3em 0;
  width: 100vw;
}

footer ul{
  display: flex;
  flex-direction: row;
  padding-bottom: 2em;
}

footer a{
  font-size: 1.5em;
  padding: 0 .25em;
}




/* MOBILE */
@media only screen and (max-width: 720px){
  .banner-container {
    /* height: 250px; */
    width: 60%;
  }
  .style1{
    padding: 1em 1em;

  }
  .style1 > * {
    width: 100%;
    padding: 0;
  }

  #levitate, 
  #restore, 
  #try{
    margin-left: 5px;
  }

  h1{
    font-size: 1.5em;
  }

  h2 {
    font-size: 1.20em;
  }

  .banner-intro > p {
    font-size: .9em;
  }

  button {
    height: 25px;
    width: 90px;
  }

  .four-container{
    display: block;
    padding-top: 2em;

  }

  .four-container > * {
      margin-left: auto;
      margin-right: auto;
  }

}